<nav class="navbar navbar-expand-lg barra sticky-top">
  <a class="navbar-brand" routerLink="/"> QRpets </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/nuevo">Mis Mascotas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/instituciones"><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ">

        <li class="nav-item"><a class="nav-link" href="#" routerLink="/perfil">
          <img src="/assets/profile.jpeg" alt="Avatar" class="avatar"> 
        </a></li>
    </ul>
  </div>
</nav>
