.barra{

background: #2b7974;

}
.barra > ul, li,  a {
	color: white !important;
}


 .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.dropdown .active{
	background-color:  #08a7c4 !important;
	color:white !important;
}

.navbar-toggler{
	background-image: url('/assets/menu.svg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center; 
}
