<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-12">
      <h3>Vacunaciones</h3>
      <mat-card>N° Colegiado: 2569
        <hr> Raviolin 500, Raviolin SA, lote 2462165243243
        <hr> Exploración previa: 22/12/2017
        <hr>Fecha de validez: 22/06/2019</mat-card>
      <br>
      <mat-card>N° Colegiado: 2569
        <hr> Vacunin, Raviolin SA, lote 246265843243
        <hr> Exploración previa: 14/05/2017
        <hr>Fecha de validez: 02/09/2019</mat-card>
    </div>
    <!--
    <div>
      <mat-form-field>
        <input matInput placeholder="N° Colegiado">
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Nombre del producto, fabricante, nº de lote"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Exploración previa">
          <mat-option value="option">Apto</mat-option>
          <mat-option value="option">No apto</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de vacunación">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de validez">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-button>Cargar</button>
    </div>
    <div class="row">
      <div class="col-lg-6">-->
        <br>
    <h3><br>Desparasitaciones</h3>
    <!--
        <mat-form-field>
          <mat-select placeholder="Control antiparasitario">
            <mat-option value="option">Hidatidosis</mat-option>
            <mat-option value="option">Parásitos internos</mat-option>
            <mat-option value="option">Parásitos externos</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Meses">
            <mat-option value="option">1</mat-option>
            <mat-option value="option">2</mat-option>
            <mat-option value="option">3</mat-option>
            <mat-option value="option">4</mat-option>
            <mat-option value="option">5</mat-option>
            <mat-option value="option">6</mat-option>
            <mat-option value="option">7</mat-option>
            <mat-option value="option">8</mat-option>
            <mat-option value="option">9</mat-option>
            <mat-option value="option">10</mat-option>
            <mat-option value="option">11</mat-option>
            <mat-option value="option">12</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button>Cargar</button>
      </div>-->
    <div class="col-lg-12">
      <mat-card>Hidatidosis
        <hr> 3 meses</mat-card>
    </div>
    <div class="col-lg-12">
      <h3><br>Pruebas especificas</h3>
      <!--<mat-form-field>
        <mat-select placeholder="Meses">
          <mat-option value="option">Sangre</mat-option>
          <mat-option value="option">Orina</mat-option>
          <mat-option value="option">Heces</mat-option>
          <mat-option value="option">Leishmaniosis</mat-option>
          <mat-option value="option">Otros</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Otros tratamientos">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cirugías">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Otras anotaciones/comentarios">
      </mat-form-field>-->
      <mat-card>Cortarle las uñas (?</mat-card>
    </div>
  </div>