<div class="container mt-5" style="width: 700px;">

	<div class="text-center"><img src="/assets/profile.jpeg" class="avatar" alt=""></div>
	<div class="datos">
		<form>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Nombre</label>
		    <input type="text" class="form-control" id="exampleInputPassword1" value="Mayda">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="mayda@perri.com">
		  </div>
		  <hr>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Nombre Mascota</label>
		    <input type="text" class="form-control" id="exampleInputPassword1" value="Luna">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Raza</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="Gran Danes">
		  </div>
		</form>
	</div>
</div>