.head{
	background-image: url('/assets/img/fondo.jpg');
	background-size: cover;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	min-height: 600px;
	line-height: 600px;
	text-align: center;

}

.base{
	padding-left: 15%;
}

.circle{
	border-radius: 50%;
	width: 250px;
    height: 250px;
    padding-top: 5%;
    text-align: center;
}

.circle:hover{
	background-color: #08a7c4;
	color: white;
}

.texto-inicio{
	position: absolute;
	  bottom: 0;
	  left: 0;
	bottom: 0;
	background-color: rgba(135,194,221,0.6);
	color: #212529;
	width: 100%;
	padding-bottom: 25px;
}
.contenido{
	padding-top: 90px;
	padding-bottom: 90px;
}

.informacion{
	background-color: #93ebfb;
}

.medicos{
	background-color: #97a5ce;
}
.comunicate{
	background-color: #8ebbd7;
}
.emergencia{
	background-color: #579cef;
}

.recuadro{
	padding: 80px;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	border-color: white;
	border-width: 25px;
	border-style: solid;
	border-bottom: 0px;
	text-align: left;
	color:white;

}
.layer{
	
	background: rgba(252,171,204,0.6);
	background: -moz-linear-gradient(-45deg, rgba(252,171,204,0.6) 0%, rgba(255,195,122,0.6) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,171,204,0.6)), color-stop(100%, rgba(255,195,122,1)));
	background: -webkit-linear-gradient(-45deg, rgba(252,171,204,0.6) 0%, rgba(255,195,122,0.6) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,171,204,0.6) 0%, rgba(255,195,122,0.2) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,171,204,0.6) 0%, rgba(255,195,122,0.2) 100%);
	background: linear-gradient(135deg, rgba(252,171,204,0.6) 0%, rgba(255,195,122,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcabcc', endColorstr='#ffc37a', GradientType=1 );


}


@media (max-width: 768px) {
	.contenido{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (max-width: 768px) {
  .producto{
    flex-direction: column-reverse;
  }
  .marcas{
  	display: none;
  }

  .recuadro{
  	padding: 40px;
  	line-height: 1;
  	display: inline-block;
  	vertical-align: middle;
  	border: none;
  	text-align: left;
  	color:white;

  }

  .layer{
  	display: none !important;
  }

  .head{
  	background-image: url('/assets/img/fondo.jpg');
  	background-size: cover;
  	background-size: 100% auto;
  	background-repeat: no-repeat;
  	position: relative;
  	text-align: center;
  	padding-bottom: 0px;
  	margin-bottom: 0px;
  }

  .recuadro>h2{
  	font-size: 15px !important;
  }
}

.input-group-append .btn{
	background: rgba(252,171,204,1);
	background: -moz-linear-gradient(-45deg, rgba(252,171,204,1) 0%, rgba(255,195,122,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,171,204,1)), color-stop(100%, rgba(255,195,122,1)));
	background: -webkit-linear-gradient(-45deg, rgba(252,171,204,1) 0%, rgba(255,195,122,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,171,204,1) 0%, rgba(255,195,122,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,171,204,1) 0%, rgba(255,195,122,1) 100%);
	background: linear-gradient(135deg, rgba(252,171,204,1) 0%, rgba(255,195,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcabcc', endColorstr='#ffc37a', GradientType=1 );
}

